@{
    ViewData["Title"] = "Home Page";
}
@{
    IEnumerable<string> strLista = new List<string> { "POO", "DAW", "MPMC" };
}
<div class="text-center">
    <h1 class="display-4">Llenar formulario</h1>
    <form>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Nombre de usuario</label>
            <div class="col-sm-10">
                @Html.TextBox("txtNombre", "", new {@class= "form-control"})
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Contraseña</label>
            <div class="col-sm-10">
                @Html.TextBox("txtContra", "", new {@class="form-control"})
            </div>
        </div>
        <fieldset class="row mb-3">
            
            <div>
                <div class="align-content-center">
                    @Html.RadioButton("Genero", "masculino", true, new{id="masculino"}) Masculino
                    @Html.RadioButton("Genero", "femenino", false, new{id="femenino"}) Femenino
                </div>
            </div>
        </fieldset>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Dirección</label>
            <div class="col-sm-10">
                @Html.TextArea("txtDir", "Ingrese su dirección", new {@class="form-control"})
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Pasatiempos</label>
            <div class="align-content-center">
                bailar @Html.CheckBox("Bailar") 
                Cantar @Html.CheckBox("cantar")
                fútbol @Html.CheckBox("Fútbol")
                Basketball @Html.CheckBox("Basketball")
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Materia</label>
        </div>
            <div>
            @Html.DropDownList("ddlMateria", new SelectList(strLista))
            </div>
        <br />
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Conocimientos</label>
            <div class="col-sm-10">
                @Html.TextArea("txtCon", "", new {@class="form-control"})
            </div>
        </div>
        
        
    </form>
    
</div>
